/* Put your code here */
.grid {
  display: grid;
  grid: 100px auto 150px / repeat(12, 1fr);
  grid-template-areas:
    "h h h h h h  h h h h h h"
    ". c c c c c  c c s s s ."
    "f f f f f f  f f f f f f";
    grid-gap: 1%;
  min-height: 100vh;
}

.header {
  font-size: 50px;
  grid-area: h;
}

.content {
  grid-area: c;
}

.sidebar {
  grid-area: s;
}

.footer {
  grid-area: f;
}
